
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Montserrat:wght@200&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700;800&display=swap');

/*           master                */


:root {
  --clr-dark: rgb(13, 17, 19);
  --clr-light: #fff;
  --clr-accent: rgb(222, 52, 0);
  --clr-accent-dark: rgb(163, 38, 0);
  --clr-secondary: rgb(0, 76, 199);
  --br: 0.5em;
  --transition: transform 200ms
    cubic-bezier(0.21, 1, 0.81, 1);
}


#masterSection{
  z-index: 2;
  position: relative;
  margin-left: 5%;
  margin-right: 5%;  
  justify-content: left;
  max-width: fit-content;  
  
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size:2vw;
  
  display: none;

}

#masterSectionSelectionMenu{  
  font-size:1.5vw;
  padding: 1rem;
  background: linear-gradient(rgba(0, 0, 255, 0.85), rgb(232, 52, 211));
  border-radius: 25px;
  max-width: fit-content;  
  float: left;
    
}

#masterSectionVideogames{
  max-height: 500px;
  max-width: 500px;
  float: right;
  margin-left: 35rem;
  /* display: none; */
}

.masterButton{
  padding-left: 4rem;
  padding-right: 4rem;
  margin: 0.5rem;
  background-color: rgba(0, 0, 255, 0);
  color: white;
  border-color: rgba(0, 0, 255, 0);
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
}

.masterButton:hover {
  background: linear-gradient(rgba(0, 0, 255, 0.1), rgba(255, 192, 203, 0.1));
  box-shadow: 0 4px 2px -2px springgreen;
}



/*       game card         */

.myVideogames{
  
  float: right;
  
  max-height: 35rem;
  padding-left: 25rem ;
  padding-right: 10px; /* Separación entre el scrollbar y el contenido */
  overflow-y: scroll;
  
  display: none;

}


.cartridge{
  zoom: 150%;
  z-index: 2;
  width: 300px;
  height: calc(300px*1.14);
  background-color: darkgrey;
  border-color: #c3c3c3;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
  box-shadow: 1px 1px 5px #00ffc8;
  margin-bottom: 5px;

}
.cartridgeBody{
  border-radius: 5px;
  padding-top: 20px;
  border: 1px solid #c3c3c3;
  background-color: #c3c3c3;
  box-shadow: inset -10px 1px 0px rgb(234, 2, 255);

  height: 100%;
  position: relative;
}
.stripes {
  z-index: 1;
  position: absolute;
  display: block;
  content: '';
  height: 45px;
  left: 0; right: 0;
  top: 0;
  background: repeating-linear-gradient(
    180deg, 
    rgba(234, 2, 255, 0.85), 
    rgba(195, 195, 195, 0.5) 4px, 
    rgb(143, 143, 143, 0.25) 2px,
    rgba(0, 255, 200, 0.25) 9px
  );
  margin: 0 2px;
  margin-top: 24px;

  box-shadow: inset -10px 0px 0px rgb(234, 2, 255);

}

.nintendo {
  position: relative;
  z-index: 10;
  padding: 10px;
  height: 50px;
  line-height: 25px;

  border-radius: 25px;
  box-shadow: inset 0 0 10px 0 rgba(234, 2, 255, 0.5);
  background: rgb(196, 196, 196);
  border-left: 4px solid #c3c3c3;
  border-right: 4px solid #c3c3c3;
  text-shadow: 1px 1px 3px rgba(93, 93, 93, 0.25);
  
  color: #8b8b8b;
  width: 70%;
  margin: 2.5px auto;
  text-align: center;
  font-size: 1.5vw;
  font-style: italic;
}


.game {

  width: 80%;
  height: 70%;
  border-radius: 5px;
  border: 1px solid rgba(132, 132, 132, 0.85);
  box-shadow: inset 0 0 2px 1px rgba(132, 132, 132, 0.85);
  margin: 0 auto;
  margin-top: 1%;
  margin-bottom: 1%;
  border-radius: 1%;
  position: relative; /* Agrega una posición relativa para usar en el hover */
  overflow: hidden; /* Para que el texto no se desborde */

  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  font-size:0.9vw;
}
.game img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  padding: 1px;
  position: absolute; /* Posición absoluta para superponer el texto */
  top: 0;
  left: 0;
  transition: opacity 0.5s ease-in-out; /* Agrega una transición de opacidad al hacer hover */
}
.game div {

  margin: 0 auto; 
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  position: absolute; /* Posición absoluta para superponer la imagen */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  transition: opacity 0.25s ease-in-out; /* Agrega una transición de opacidad al hacer hover */
  opacity: 0; /* Oculta el texto por defecto */

}
.game:hover img {
  opacity: 0; /* Oculta la imagen al hacer hover */
}
.game:hover div {
  opacity: 1; /* Muestra el texto al hacer hover */
}
.game:not(:hover) img {
  opacity: 1; /* Muestra la imagen al dejar de hacer hover */
}
.game:not(:hover) div {
  opacity: 0; /* Oculta el texto al dejar de hacer hover */
}

.background {
  background: rgb(40, 46, 54);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transform: scale(0.2, 0.9);
  opacity: 0;
  border-radius: var(--br);
}


.arrow {
  --size: calc(300px / 6);
  width: 100%;
  text-align: center;
  position: relative;
}

.arrow   i {
  position: absolute;
  box-shadow: inset 0px 0px 1px 1px rgb(234, 2, 255);
  background: rgb(186, 186, 186);
  left: 40%;
  margin-top: 2.5%;
  width: var(--size);
  height: calc(var(--size) / 2);

  clip-path: polygon(100% 0, 0 0, 50% 100%);
}


/*       vr visor         */
#vrVisorSection{

  float: right;
  background-color: #c5c5c5;
  border-top-left-radius: 100% 50%;
  border-top-right-radius: 100% 50%;
  border-bottom-left-radius: 100% 50%;
  border-bottom-right-radius: 100% 50%;

  display: none;
}

.vrVisor{
  background: black;
  height: 55vh;
  width: 55vw;
  padding: 3rem;
  box-shadow: 0 0 50px rgba(93, 93, 93, 0.5) inset;
  
  border-top-left-radius: 100% 50%;
  border-top-right-radius: 100% 50%;
  border-bottom-left-radius: 100% 50%;
  border-bottom-right-radius: 100% 50%;
}

.vrVisorWindow{

  background: white;
  height: 100%;
  width: 100%;
  color: blue;
  justify-content: center;
  padding: 5%;
  transform-origin: center;
  box-shadow: 0 0 50px rgba(12, 12, 12, 0.5) inset;
  text-align: center;
  text-size-adjust: inherit;
}

.vrVisorWindow-left{
  border-radius: 5% / 50%;
  transform: perspective(500px) rotateX(10deg) translateY(-10px);
}

.vrVisorWindow-right{ 
  border-radius: 5% / 50%;
  transform: perspective(500px) rotateX(10deg) translateY(-10px);
  font-size:1.1vw;
}

.vrVisorButtons{

  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 0px;
  font-size:1vw;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(159, 159, 159, 0.5) inset;
}


/*       3D cube         */

#masterSectionGC{
  float: right; 
  
  
  width: 35vw;
  height: 60vh;

  margin-left: 25rem;

  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(255, 0, 0, 0.85), rgba(0, 255, 0, 0.85), rgb(232, 217, 52));  
  font-family: 'Rubik', sans-serif;
  box-shadow: 0 0 10px rgb(212, 0, 255);

  text-align: center;

  display: none;
}

.points{
  width: 100%;
  height: 100%;
  background-position: 0 0, 10px 10px,5px 5px;  
  background-size: 20px 20px;
  background-image: radial-gradient(rgba(255, 0, 0, 0.35) 20%, transparent 0), radial-gradient(rgb(0, 255, 0, 0.35) 20%, transparent 0), radial-gradient(rgb(232, 217, 52, 0.35) 20%, transparent 0);
}


.CGTitle{  
  font-weight: 350;
  background-color: black;
  padding: 1rem;
  transform: skewX(-10deg) rotate(-2deg);
}

.CGDescription{
  font-weight: 275;
  font-size:1.8vw;
  color: black;
  padding: 1.5rem;
  padding-top: 2.5rem;
  background-color: #ffffff8e;
  border-radius: 50% / 100%;
  -webkit-text-stroke: 0.5px white;

  width: 100%;
  height: 80%;
}

.CGButtons{
  
}

.CGButtons button{
  font-weight: 250;
  width: 5rem;
}

/*  ANIMATIONS */





.myVideogames::-webkit-scrollbar {
	width: 10px;
	background-color: #ffffff3e;
  border-radius: 10px;
}

.myVideogames::-webkit-scrollbar-track {
	background-color: #f5f5f500;
	border-radius: 10px;
}

.myVideogames::-webkit-scrollbar-thumb {
	background-color: #b000f6;
	border-radius: 10px;
	background-image: -webkit-linear-gradient(90deg,
	                                          rgba(0, 255, 145, 0.5) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(0, 255, 145, 0.5) 50%,
											  rgba(0, 255, 145, 0.5)75%,
											  transparent 75%,
											  transparent)
}

.myVideogames::-webkit-scrollbar-thumb:hover {
  background-color: #00aaff; /* Color del thumb cuando el cursor está encima */
}