
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Montserrat:wght@200&family=VT323&display=swap');


/*           computer                */
#pcSection{
  z-index: 2;
  position: relative;
  margin-left: 6%;
  margin-right: 5%;
  width: 90%;
  height: 50%;
  
  color: white;
  background-color: black;
  font-family: 'VT323', monospace;
  font-size:2vw;
  
}

#pcSectionSelectionMenu{
  display: none;
  width: 100%; 
  height: 100%;  
}

#pcSectionItem{
  display: none;
  width: 100%; 
  height: 100%;
}

.pcSectionText{
  padding: 2%;
  width: 100%; 
  height: 100%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
  }
  
  .pcSectionImage{
  float: left;
  padding-right: 2%;
  max-width: 25%;
  max-height: 25%;
  }

.progamName{
  background-color: white;
  color: black;
}

/* Solid border */
hr.solid {
  border-top: 15px solid white;
  opacity: 1;
}

.pcButton{
  padding-left: 4rem;
  padding-right: 4rem;
  background-color: black;
  color: white;
}

.pcButton:hover {
  background-color: blue;
}